@model IEnumerable<Refugee.Domain.Entities.PostClaims>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div id="fb-root"></div>
<script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1799099966977245";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


@if (TempData.ContainsKey("created"))
{
    <div class="alert alert-success">@TempData["created"] Created Succefuly</div>
}

<div class="panel panel-danger">
    <table class="table table-striped m-top-md" id="dataTable">
        <thead>
            <tr class="bg-theme">
                <th>Data Claim</th>
                <th>Object</th>
                <th>Description</th>
                <th>Status</th>
                <th>#Post</th>
                <th>#Member</th>
                <th>Settings</th>
                @*<th class="hidden-xs">Quantity</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DateClaim
                    </td>
                    <td>
                        @item.Objet
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.PostID
                    </td>
                    <td>
                        @item.MemberID
                    </td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Edit", "Claim", new { idp = item.PostID, idu = item.MemberID })"><i class="fa fa-edit fa-lg"></i>Edit</a>
                        @*<a class="btn btn-info" href="@Url.Action("Details", "Claim")"><i class="fa fa-tasks fa-lg"></i>Details</a>*@
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Claim", new { idp = item.PostID, idu = item.MemberID })"><i class="fa fa-trash fa-lg"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div class="fb-comments" width="1100"
     data-href="http://localhost:17919/PostClaim/Details/@Html.DisplayFor(item => item.)"
     data-numposts="5"></div>*@