@{
    ViewBag.Title = "Home Page";
}

<!-- slider start here -->
<div class="slide">
    <div class="slideshow owl-carousel">
        <div class="item">
            <img src="@Url.Content("~/Assets/images/banner.jpg")"/>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Assets/images/banner.jpg")" />
        </div>
        <div class="item">
            <img src="@Url.Content("~/Assets/images/banner.jpg")" />
        </div>
    </div>

    <!-- slide-detail start here -->
    <div class="slide-detail">
        <div class="container">
            <h4>give a <span>helping hand</span> to those who <span>need</span> it!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla. Mauris eget nibh sollicitudin, rhoncus libero ac, auctor nunc. Morbi a nisi non nunc bibendum semper.</p>
            <button type="button" class="btn-primary" onclick="location.href='make-an-donation.html'">donate NOW</button>
        </div>
    </div>
    <!-- slide-detail end here -->
</div>
<!-- slider end here -->

<!-- recent cause start here -->
<div class="recentcause">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 commontop text-center">
                <h6>recent causes</h6>
                <hr>
            </div>

            <!-- gallery start here -->
            <div class="gallery">
                <div class="tab-content">
                    
                    <div class="col-sm-4 padd0">
                        <div class="col-sm-12 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g1.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g2.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g3.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padd0">
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g4.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g7.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g5.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-6 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g8.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-12 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g6.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padd0">
                        <div class="col-sm-12 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g9.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-sm-12 padd0">
                            <div class="image">
                                <a href="#"><img src="@Url.Content("~/Assets/images/g10.jpg")" alt="image" title="image" class="img-responsive" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <button type="button" class="btn-default" onclick="location.href='our-causes.html'">all causes</button>
        </div>
    </div>
</div>
<!-- recent cause end here -->

<!-- upcoming start here -->
<div class="upcoming">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 commontop text-center">
                <h6>upcoming events</h6>
                <hr>
            </div>
            <div class="col-sm-7 col-xs-12">
                <ul class="nav nav-tabs list-inline">
                    <li class="active">
                        <a href="#may" data-toggle="tab" aria-expanded="true">may <span>2017</span></a>
                    </li>
                    <li class="">
                        <a href="#june" data-toggle="tab" aria-expanded="false">june <span>2017</span></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="may">
                        <ul class="list-unstyled">
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>20 <br><span>may</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>24 <br><span>may</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>20 <br><span>may</span></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="june">
                        <ul class="list-unstyled">
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>18<br><span>june</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>21 <br><span>june</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>28 <br><span>june</span></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="july">
                        <ul class="list-unstyled">
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>10 <br><span>july</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>26 <br><span>july</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>30 <br><span>july</span></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane" id="august">
                        <ul class="list-unstyled">
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>07 <br><span>august</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>15 <br><span>august</span></p></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h4>Lorem ipsum dolor sit amet,</h4>
                                    <p><i class="fa fa-map-marker"></i> In Sanfransico, CA</p>
                                    <p><i class="icon_clock"></i> 08.00 - 16.00</p>
                                </div>
                                <div class="pull-right">
                                    <div class="box"><p>16 <br><span>august</span></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-sm-5">
                <div class="image"><img src="@Url.Content("~/Assets/images/event.jpg")" class="img-responsive" alt="image" title="image" /></div>
            </div>
        </div>
    </div>
</div>
<!-- upcoming end here -->	

<!-- featured start here -->
<div class="featured">
    <div class="image"><img src="@Url.Content("~/Assets/images/bg.jpg")" class="img-responsive" alt="bg" title="bg" /></div>
    <div class="inner">
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <li>
                        <div class="box">
                            <img src="@Url.Content("~/Assets/images/users.png")" class="img-responsive" alt="image" title="image" />
                            <h4>1035</h4>
                            <p>volunteers</p>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <img src="@Url.Content("~/Assets/images/like.png")" class="img-responsive" alt="image" title="image" />
                            <h4>5344</h4>
                            <p>donators</p>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <img src="@Url.Content("~/Assets/images/smily.png")" class="img-responsive" alt="image" title="image" />
                            <h4>80615</h4>
                            <p>saved childrens</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- featured end here -->

<!-- blog start here -->
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 commontop text-center">
                <h6>our blog</h6>
                <hr>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="product-thumb">
                    <div class="image">
                        <a href="blog.html">
                            <img class="img-responsive" src="@Url.Content("~/Assets/images/blog-big1.jpg")" alt="image" title="image">
                        </a>
                        <div class="onhover">
                            <p>15<br>June</p>
                        </div>
                    </div>
                    <div class="caption">
                        <h4>Blog Post Title Here</h4>
                        <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies eu turpis at accumsan. Mauris a sodales mi, eget lobortis nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.</p>
                        <button type="button" class="btn-primary" onclick="location.href='blog.html'">read more <i class="fa fa-caret-right"></i></button>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 rightside">
                <div class="col-md-12 col-sm-12 col-xs-12 padd0">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="blog.html">
                                <img class="img-responsive" src="@Url.Content("~/Assets/images/b1.jpg")" alt="image" title="image">
                            </a>
                            <div class="onhover">
                                <p>15<br>June</p>
                            </div>
                        </div>
                        <div class="caption">
                            <h4>Blog Post Title Here</h4>
                            <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies...</p>
                            <button type="button" class="btn-primary" onclick="location.href='blog.html'">read more <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padd0">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="blog.html">
                                <img class="img-responsive" src="@Url.Content("~/Assets/images/b2.jpg")" alt="image" title="image">
                            </a>
                            <div class="onhover">
                                <p>15<br>June</p>
                            </div>
                        </div>
                        <div class="caption">
                            <h4>Blog Post Title Here</h4>
                            <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies...</p>
                            <button type="button" class="btn-primary" onclick="location.href='blog.html'">read more <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padd0">
                    <div class="product-thumb">
                        <div class="image">
                            <a href="blog.html">
                                <img class="img-responsive" src="@Url.Content("~/Assets/images/b3.jpg")" alt="image" title="image">
                            </a>
                            <div class="onhover">
                                <p>15<br>June</p>
                            </div>
                        </div>
                        <div class="caption">
                            <h4>Blog Post Title Here</h4>
                            <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id. Nullam ultricies...</p>
                            <button type="button" class="btn-primary" onclick="location.href='blog.html'">read more <i class="fa fa-caret-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog end here -->