@using Refugee.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}























<!-- become start here -->
<div class="become">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h2>@{
                    ViewBag.Title = "Log in";
                } <span>@ViewBag.Title.</span></h2>

                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="name" value="" id="input-name" class="form-control" placeholder="Full Name" type="text">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="lastname" value="" id="input-lastname" class="form-control" placeholder="Last Name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="email" value="" id="input-email" class="form-control" placeholder="Email" type="text">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="phone" value="" id="input-phone" class="form-control" placeholder="Phone" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="code" value="" id="input-code" class="form-control" placeholder="Zip / Code" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea name="say" id="input-say" class="form-control" placeholder="Say something"></textarea>
                        </div>
                    </div>
                    <div class="buttons">
                        <input class="btn btn-primary" value=" Go
                               Count Me" type="submit">
                    </div>
                </form>

            </div>
            <div class="col-sm-4 col-xs-12">
                <img src="images/thanks.jpg" class="img-responsive" alt="image" title="image" />
            </div>
        </div>
    </div>
</div>
<!-- become end here -->